In [1]:
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.width=None
pd.set_option('display.max_rows', None)

In [2]:
from google.colab import files
uploaded = files.upload()

Saving sample_Attendance_data.xlsx to sample_Attendance_data.xlsx

In [3]:
df = pd.read_excel('sample_Attendance_data.xlsx')
df.head()

,AtliQ,Unnamed: 1,2022-04-01 00:00:00,2022-04-02 00:00:00,2022-04-03 00:00:00,2022-04-04 00:00:00,2022-04-05 00:00:00,2022-04-06 00:00:00,2022-04-07 00:00:00,2022-04-08 00:00:00,2022-04-09 00:00:00,2022-04-10 00:00:00,2022-04-11 00:00:00,2022-04-12 00:00:00,2022-04-13 00:00:00,2022-04-14 00:00:00,2022-04-15 00:00:00,2022-04-16 00:00:00,2022-04-17 00:00:00,2022-04-18 00:00:00,2022-04-19 00:00:00,2022-04-20 00:00:00,2022-04-21 00:00:00,2022-04-22 00:00:00,2022-04-23 00:00:00,2022-04-24 00:00:00,2022-04-25 00:00:00,2022-04-26 00:00:00,2022-04-27 00:00:00,2022-04-28 00:00:00,2022-04-29 00:00:00,2022-04-30 00:00:00,2022-05-01 00:00:00
0,Employee Code,Name,2022-04-01 00:00:00,2022-04-02 00:00:00,2022-04-03 00:00:00,2022-04-04 00:00:00,2022-04-05 00:00:00,2022-04-06 00:00:00,2022-04-07 00:00:00,2022-04-08 00:00:00,2022-04-09 00:00:00,2022-04-10 00:00:00,2022-04-11 00:00:00,2022-04-12 00:00:00,2022-04-13 00:00:00,2022-04-14 00:00:00,2022-04-15 00:00:00,2022-04-16 00:00:00,2022-04-17 00:00:00,2022-04-18 00:00:00,2022-04-19 00:00:00,2022-04-20 00:00:00,2022-04-21 00:00:00,2022-04-22 00:00:00,2022-04-23 00:00:00,2022-04-24 00:00:00,2022-04-25 00:00:00,2022-04-26 00:00:00,2022-04-27 00:00:00,2022-04-28 00:00:00,2022-04-29 00:00:00,2022-04-30 00:00:00,2022-05-01
1,Atq -406,Thanos Thakur,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,NaT
2,Atq -462,Jarvis Singh,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,NaT
3,Atq -411,Nevaeh Waller,P,WO,WO,WFH,P,P,P,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,NaT
4,Atq -398,Bo Cordova,P,WO,WO,P,P,P,WFH,PL,WO,WO,PL,PL,PL,PL,PL,WO,WO,P,P,P,P,P,WO,WO,P,P,WFH,ML,WFH,WO,NaT

In [4]:
df.rename(columns = {'AtliQ':'Employee_Code', 'Unnamed: 1':'Name'}, inplace=True)
df.drop(0, inplace = True)

In [12]:
df.drop(df.columns[-1],axis=1, inplace = True)

##Calculate the total days in the month in which employees are present (in %)

In [13]:
present = df.isin(['P']).sum(axis=1)
present_perc = (present/30)*100

In [14]:
df['Present%'] = present_perc
df.head()

,Employee_Code,Name,2022-04-01 00:00:00,2022-04-02 00:00:00,2022-04-03 00:00:00,2022-04-04 00:00:00,2022-04-05 00:00:00,2022-04-06 00:00:00,2022-04-07 00:00:00,2022-04-08 00:00:00,2022-04-09 00:00:00,2022-04-10 00:00:00,2022-04-11 00:00:00,2022-04-12 00:00:00,2022-04-13 00:00:00,2022-04-14 00:00:00,2022-04-15 00:00:00,2022-04-16 00:00:00,2022-04-17 00:00:00,2022-04-18 00:00:00,2022-04-19 00:00:00,2022-04-20 00:00:00,2022-04-21 00:00:00,2022-04-22 00:00:00,2022-04-23 00:00:00,2022-04-24 00:00:00,2022-04-25 00:00:00,2022-04-26 00:00:00,2022-04-27 00:00:00,2022-04-28 00:00:00,2022-04-29 00:00:00,2022-04-30 00:00:00,Present%
1,Atq -406,Thanos Thakur,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,70.000000
2,Atq -462,Jarvis Singh,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,70.000000
3,Atq -411,Nevaeh Waller,P,WO,WO,WFH,P,P,P,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,66.666667
4,Atq -398,Bo Cordova,P,WO,WO,P,P,P,WFH,PL,WO,WO,PL,PL,PL,PL,PL,WO,WO,P,P,P,P,P,WO,WO,P,P,WFH,ML,WFH,WO,36.666667
5,Atq -438,Mekhi Singleton,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,WO,P,P,P,P,P,WO,70.000000

In [15]:
PresentPercentage = df[['Name', 'Present%']]
PresentPercentage

                  Name   Present%
1        Thanos Thakur  70.000000
2         Jarvis Singh  70.000000
3        Nevaeh Waller  66.666667
4           Bo Cordova  36.666667
5      Mekhi Singleton  70.000000
6         Peter Pandey  66.666667
7             Loki Lal  70.000000
8        Phoenix Brady  60.000000
9           Ana Little  50.000000
10         Grace Stone  60.000000
11        Tori Shannon  70.000000
12      Lyric Bartlett  66.666667
13      Kaylah Schultz  60.000000
14         Cason David  63.333333
15        Miya Hampton  60.000000
16         Sofia Solis  66.666667
17      Mckayla Parker  63.333333
18       Madelynn Gray  46.666667
19          Myla Klein  66.666667
20        Boston Morse  70.000000
21         April Ayers  66.666667
22      Faith Hamilton  66.666667
23     Janelle Raymond  46.666667
24           Joel Cruz   0.000000
25        Iris Woodard  66.666667
26      Trystan Ortega  56.666667
27        Miles Fields  70.000000
28       Rodrigo Price  70.000000
29           Ella Roth  56.666667
30       Jayce Fuentes  70.000000
31  Hailee Fitzpatrick  66.666667
32           Rey Novak  70.000000
33      Macie Callahan  60.000000
34        Xiomara Ruiz  66.666667
35       Weston Horton  63.333333
36     Dean Mclaughlin  63.333333
37      Jonah Hamilton  50.000000
38         Roman Colon  56.666667
39          Chris Frye  40.000000
40          London Kim  66.666667
41        Kenley Marsh  63.333333
42         Adriel Pace  70.000000
43         Jase Ingram  63.333333
44        Adyson Moyer  66.666667
45   Salvatore Hendrix  63.333333
46       Tucker Austin  66.666667
47   Cristofer Bernard  70.000000
48        Karma Reeves  66.666667
49     Esperanza Irwin  70.000000
50       Ciara Allison  70.000000
51     Demarcus Gordon  63.333333
52      Ryann Guerrero  66.666667
53       Rylee Mullins  66.666667
54        Gregory Carr   0.000000
55       Ayanna Atkins  63.333333
56          Briley Orr  66.666667
57        Emma Freeman  56.666667
58        Will Mahoney  60.000000
59      Titus Andersen  70.000000
60       Marquis Wyatt  70.000000
61         Nick Orozco  53.333333
62      Gustavo Ritter   0.000000
63         Isiah Small  70.000000
64        Hillary Kirk  66.666667
65  Dominique Benjamin  70.000000
66       Nehemiah Diaz  70.000000
67          Josh Sharp  66.666667
68     Andrew Cummings  40.000000
69    Maximus Mckenzie   0.000000
70       Konner Henson  66.666667
71    Finnegan Gilbert  63.333333
72      Caylee Meadows  53.333333
73         Jovani Pope  50.000000
74   Kaley Fitzpatrick  50.000000
75        Greta Horton  66.666667
76         Miley Combs  66.666667
77        Dallas Weeks  70.000000
78         Chad Macias  53.333333
79     Jessie Carrillo  63.333333

##Find Sick Leave(in%)

In [16]:
sick = df.isin(['SL']).sum(axis=1)
sick_perc = (sick/30)*100

In [17]:
df['Sick%'] = sick_perc
SickPercentage = df[['Name', 'Sick%']]
SickPercentage

                  Name     Sick%
1        Thanos Thakur  0.000000
2         Jarvis Singh  0.000000
3        Nevaeh Waller  0.000000
4           Bo Cordova  0.000000
5      Mekhi Singleton  0.000000
6         Peter Pandey  0.000000
7             Loki Lal  0.000000
8        Phoenix Brady  0.000000
9           Ana Little  3.333333
10         Grace Stone  0.000000
11        Tori Shannon  0.000000
12      Lyric Bartlett  0.000000
13      Kaylah Schultz  0.000000
14         Cason David  0.000000
15        Miya Hampton  0.000000
16         Sofia Solis  0.000000
17      Mckayla Parker  6.666667
18       Madelynn Gray  0.000000
19          Myla Klein  0.000000
20        Boston Morse  0.000000
21         April Ayers  0.000000
22      Faith Hamilton  0.000000
23     Janelle Raymond  0.000000
24           Joel Cruz  0.000000
25        Iris Woodard  0.000000
26      Trystan Ortega  0.000000
27        Miles Fields  0.000000
28       Rodrigo Price  0.000000
29           Ella Roth  3.333333
30       Jayce Fuentes  0.000000
31  Hailee Fitzpatrick  0.000000
32           Rey Novak  0.000000
33      Macie Callahan  0.000000
34        Xiomara Ruiz  0.000000
35       Weston Horton  0.000000
36     Dean Mclaughlin  0.000000
37      Jonah Hamilton  3.333333
38         Roman Colon  0.000000
39          Chris Frye  0.000000
40          London Kim  0.000000
41        Kenley Marsh  0.000000
42         Adriel Pace  0.000000
43         Jase Ingram  0.000000
44        Adyson Moyer  0.000000
45   Salvatore Hendrix  3.333333
46       Tucker Austin  0.000000
47   Cristofer Bernard  0.000000
48        Karma Reeves  0.000000
49     Esperanza Irwin  0.000000
50       Ciara Allison  0.000000
51     Demarcus Gordon  0.000000
52      Ryann Guerrero  0.000000
53       Rylee Mullins  0.000000
54        Gregory Carr  0.000000
55       Ayanna Atkins  0.000000
56          Briley Orr  0.000000
57        Emma Freeman  0.000000
58        Will Mahoney  0.000000
59      Titus Andersen  0.000000
60       Marquis Wyatt  0.000000
61         Nick Orozco  0.000000
62      Gustavo Ritter  0.000000
63         Isiah Small  0.000000
64        Hillary Kirk  0.000000
65  Dominique Benjamin  0.000000
66       Nehemiah Diaz  0.000000
67          Josh Sharp  0.000000
68     Andrew Cummings  0.000000
69    Maximus Mckenzie  0.000000
70       Konner Henson  0.000000
71    Finnegan Gilbert  0.000000
72      Caylee Meadows  0.000000
73         Jovani Pope  0.000000
74   Kaley Fitzpatrick  0.000000
75        Greta Horton  0.000000
76         Miley Combs  0.000000
77        Dallas Weeks  0.000000
78         Chad Macias  0.000000
79     Jessie Carrillo  0.000000

##Sort the employee name Descending order

In [18]:
df['Name'].sort_values(ascending=False)

34          Xiomara Ruiz
58          Will Mahoney
35         Weston Horton
46         Tucker Austin
26        Trystan Ortega
11          Tori Shannon
59        Titus Andersen
1          Thanos Thakur
16           Sofia Solis
45     Salvatore Hendrix
53         Rylee Mullins
52        Ryann Guerrero
38           Roman Colon
28         Rodrigo Price
32             Rey Novak
8          Phoenix Brady
6           Peter Pandey
61           Nick Orozco
3          Nevaeh Waller
66         Nehemiah Diaz
19            Myla Klein
15          Miya Hampton
76           Miley Combs
27          Miles Fields
5        Mekhi Singleton
17        Mckayla Parker
69      Maximus Mckenzie
60         Marquis Wyatt
18         Madelynn Gray
33        Macie Callahan
12        Lyric Bartlett
40            London Kim
7               Loki Lal
70         Konner Henson
41          Kenley Marsh
13        Kaylah Schultz
48          Karma Reeves
74     Kaley Fitzpatrick
73           Jovani Pope
67            Josh Sharp
37        Jonah Hamilton
24             Joel Cruz
79       Jessie Carrillo
30         Jayce Fuentes
43           Jase Ingram
2           Jarvis Singh
23       Janelle Raymond
63           Isiah Small
25          Iris Woodard
64          Hillary Kirk
31    Hailee Fitzpatrick
62        Gustavo Ritter
75          Greta Horton
54          Gregory Carr
10           Grace Stone
71      Finnegan Gilbert
22        Faith Hamilton
49       Esperanza Irwin
57          Emma Freeman
29             Ella Roth
65    Dominique Benjamin
51       Demarcus Gordon
36       Dean Mclaughlin
77          Dallas Weeks
47     Cristofer Bernard
50         Ciara Allison
39            Chris Frye
78           Chad Macias
72        Caylee Meadows
14           Cason David
56            Briley Orr
20          Boston Morse
4             Bo Cordova
55         Ayanna Atkins
21           April Ayers
68       Andrew Cummings
9             Ana Little
44          Adyson Moyer
42           Adriel Pace
Name: Name, dtype: object

##In a week starting from the 4th of April how many different people did their work from home?

In [19]:
wfh_df = df.iloc[:, 5:12].isin(['WFH']).sum(axis=1)
df['wfh_4_12'] = wfh_df
WFH = df[['Name', 'wfh_4_12']] ##wfh_4_12 == wfh for 4th to 12th april

In [20]:
df['wfh_4_12'].unique()

array([0, 1, 5, 2])

In [21]:
#Employees who worked from home all weekdays
wfh_5 = df['Name'].where(df['wfh_4_12'] == 5).dropna()
wfh_5

24           Joel Cruz
54        Gregory Carr
62      Gustavo Ritter
69    Maximus Mckenzie
Name: Name, dtype: object

In [22]:
#Employees who worked from home for 1 day in the week from 4th april
wfh_1 = df['Name'].where(df['wfh_4_12'] == 1).dropna()
wfh_1

3     Nevaeh Waller
4        Bo Cordova
38      Roman Colon
75     Greta Horton
Name: Name, dtype: object

In [23]:
#Employees who worked from home for 2 day in the week from 4th april
wfh_2 = df['Name'].where(df['wfh_4_12'] == 2).dropna()
wfh_2

37    Jonah Hamilton
39        Chris Frye
57      Emma Freeman
Name: Name, dtype: object

##Find the employee name with max, min days of attendance.

In [26]:
#Maximum attendance considering only "P" from Attendance Key
Max = df['Present%'].max()
Max_Attendance = df['Name'].where(df['Present%'] == Max).dropna()
Max_Attendance

1          Thanos Thakur
2           Jarvis Singh
5        Mekhi Singleton
7               Loki Lal
11          Tori Shannon
20          Boston Morse
27          Miles Fields
28         Rodrigo Price
30         Jayce Fuentes
32             Rey Novak
42           Adriel Pace
47     Cristofer Bernard
49       Esperanza Irwin
50         Ciara Allison
59        Titus Andersen
60         Marquis Wyatt
63           Isiah Small
65    Dominique Benjamin
66         Nehemiah Diaz
77          Dallas Weeks
Name: Name, dtype: object

In [27]:
#Minimum attendance considering only "P" from Attendance Key
Min = df['Present%'].min()
Min_Attendance = df['Name'].where(df['Present%'] == Min).dropna()
Min_Attendance

24           Joel Cruz
54        Gregory Carr
62      Gustavo Ritter
69    Maximus Mckenzie
Name: Name, dtype: object

In [33]:
wfh = df.isin(['WFH']).sum(axis=1)
df['total_wfh'] = (wfh/30)*100 #in(%)
WFH = df[['Name', 'total_wfh']] 
WFH.head()

              Name  total_wfh
1    Thanos Thakur   0.000000
2     Jarvis Singh   0.000000
3    Nevaeh Waller   3.333333
4       Bo Cordova  10.000000
5  Mekhi Singleton   0.000000

In [44]:
#Maximum attendance considering "P" & "WFH" from Attendance Key
Total = (df['Present%'] + df['total_wfh'])
total_max = Total.max()
Total_Max_Attendance = df['Name'].where(Total == total_max).dropna()
Total_Max_Attendance

1          Thanos Thakur
2           Jarvis Singh
5        Mekhi Singleton
7               Loki Lal
11          Tori Shannon
20          Boston Morse
27          Miles Fields
28         Rodrigo Price
30         Jayce Fuentes
32             Rey Novak
42           Adriel Pace
47     Cristofer Bernard
49       Esperanza Irwin
50         Ciara Allison
59        Titus Andersen
60         Marquis Wyatt
62        Gustavo Ritter
63           Isiah Small
65    Dominique Benjamin
66         Nehemiah Diaz
69      Maximus Mckenzie
71      Finnegan Gilbert
73           Jovani Pope
74     Kaley Fitzpatrick
77          Dallas Weeks
Name: Name, dtype: object

In [45]:
#Minimum attendance considering "P" & "WFH" from Attendance Key
Total = (df['Present%'] + df['total_wfh'])
total_min = Total.min()
Total_Min_Attendance = df['Name'].where(Total == total_min).dropna()
Total_Min_Attendance

54    Gregory Carr
Name: Name, dtype: object

##Select all the employees which have the 'c' letter in his\\her name in the second position

In [46]:
c = [df.iloc[i,1]  for i in range(df.shape[0]) if df.iloc[i,1][1] == "c" ] 
c

['Mckayla Parker']